
<section class='left-section'>
  <canvas id="canvas" width="480" height="600"></canvas>
  <div class='audio-control'>
    <audio loop id="audio1" src="/RoccoW_Nontinde_Vendor_Theme.mp3"></audio>
    <audio id="audio2" src="/Hadokowa_05_Upbit_Punk_Boy_2nd_Lvl_theme.mp3"></audio>
    <!-- <audio id="audio3" src="/Komiku_58_Universe_big_takedown.mp3"></audio> -->
    <button id='play-pause'>
      <img src='/play_pause_icon.png' />
    </button>
    <button id='stop'>
      <img src='/stop_icon.png' />
    </button>
    <button id='mute'>
      <img id='mute_img' src='/sound_icon.png' />
    </button>
  </div>
</section>
<section class='right-section'>
  <div class='instructions'>
    <h1>How to play</h1>
    <ol>
      <li>User keyboard <span>A</span> <span>D</span> or arrow keys <span>←</span> <span>→</span> to move ths snake</li>
      <li>Grow your snake by eating food</li>
      <li>User your health to go through some touph walls!</li>
      <li>Press <span>SPACE</span> to slow down at the cost of your health. It will also increase difficulity</li>
    </ol>
  </div>
  <div class='reference'>
    <a
      class='linkedin-button'
      href='https://www.linkedin.com/in/hsuan-chen-walter-wan-b9854970/'>
      <img src="https://png.icons8.com/metro/50/000000/linkedin.png">
    </a>
    <a
      class='github-button'
      href='https://github.com/walterhwan'>
      <img src="https://png.icons8.com/metro/50/000000/github.png">
    </a>
  </div>
</section>
