<section class='left-section'>
  <canvas id="canvas" width="480" height="600"></canvas>
</section>
<section class='right-section'>
  <h1>How to play</h1>
  <ol>
    <li>User keyboard A D or arrow keys ← → to move ths snake</li>
    <li>Grow your snake by eating food</li>
    <li>User your health to go through some touph walls!</li>
  </ol>
</section>
