
<section class='left-section'>
  <canvas id="canvas" width="480" height="600"></canvas>
  <div class='audio-control'>
    <audio id="audio1" src="/RoccoW_Nontinde_Vendor_Theme.mp3"></audio>
    <audio id="audio2" src="/Hadokowa_05_Upbit_Punk_Boy_2nd_Lvl_theme.mp3"></audio>
    <!-- <audio id="audio3" src="/Komiku_58_Universe_big_takedown.mp3"></audio> -->
    <button id='play-pause'>play/pause</button>
    <button id='stop'>stop</button>
    <button id='next'>next</button>
  </div>
</section>
<section class='right-section'>
  <h1>How to play</h1>
  <ol>
    <li>User keyboard <span>A</span> <span>D</span> or arrow keys <span>←</span> <span>→</span> to move ths snake</li>
    <li>Grow your snake by eating food</li>
    <li>User your health to go through some touph walls!</li>
    <li>Press <span>SPACE</span> to slow down at the cost of your health</li>
  </ol>
</section>
