// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: "Arcade";
  src: url(/PressStart2P.ttf) format("truetype");
}

body {
  font-family: "Arcade", Verdana, Tahoma;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  background: black;
  background-image: url(/arcade_background.jpg);
  // background: no-repeat center center cover;
  // background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.left-section {
  padding: 20px;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 900px;

  .instructions {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 30px;
    line-height: 1.8;
    max-width: 900px;

    h1 {
      font-size: 24px;
      align-self: center;
      color: #0066B7;
    }

    ol {
      list-style-type: upper-latin;
    }
    li {
      color: #0066B7;
      font-size: 12px;

      span {
        padding: 2px;
        border: 2px solid black;
        border-radius: 3px;
        border-color: #0066B7;
      }
    }
    li:nth-child(even) {
      color: #DA784D;

      > span {
        border-color: #DA784D;
      }
    }
  }
}

.audio-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
button  {
  background-color: 'grey';
  margin: 0px 10px;
  padding: 3px;
  outline: none;
}

canvas {
  background: black;
  border-radius: 10px;
  border: 2px solid blue;
}

.reference {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .linkedin-button, .github-button {
    margin-left: 40px;
    margin-bottom: 50px;

    img {
      width: 30px;
      height: 30px;
    }
  }
}
